
#canvas_g {
    position: absolute;
    margin-top: 10px;
    border-radius: 14px;
    border-bottom: 45px solid #502916;
    box-shadow: 0px 0px 3px #888888;
    padding-top: 15px;
    z-index: -1;
    background: url(background.jpg);
    background-size: 100% 100%;
    top: 0;
    bottom: 0;
}
#img {
    position: absolute;
    padding: 0.5px;
    width: 47px;
    height: 44.5px;
    z-index: 1;
    top: 524px;
    left: 11px;
}
#pause_status{
    position: absolute;
    z-index: 1;
    left: 240px;
    width: 59px;
    top: 260px;
  
}
#button {
    display: inline-block;
    padding: 8px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-left: 179px;
    margin-top: 518px;
}
  
#button:hover {background-color: #3e8e41}
  
#button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }