
#canvas_g {
    position: absolute;
    margin-top: 10px;
    border-radius: 14px;
    border-bottom: 45px ridge maroon;
    box-shadow: 0px 0px 3px firebrick;
    padding-top: 15px;
    z-index: -1;
    background: url('background.jpg');
    background-size: 100% 100%;
    top: 0;
    bottom: 0;
}
#img {
    position: absolute;
    padding: 0.5px;
    width: 47px;
    height: 44.5px;
    z-index: 1;
    top: 524px;
    left: 11px;
}
#img2 {
    position: absolute;
    padding: 0.5px;
    width: 74px;
    height: 45.5px;
    z-index: 1;
    top: 524px;
    left: 474px;
}
#pause_status{
    position: absolute;
    z-index: 1;
    left: 240px;
    width: 59px;
    top: 260px;
  
}
#button {
    display: inline-block;
    padding: 8px 25px;
    font-size: 15px;
    cursor: -webkit-grabbing;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px 50px 30px;
    box-shadow: 0 5px #999;
    margin-left: 179px;
    margin-top: 520px;
}
  
#button:hover {background-color: #3e8e41}
  
#button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #game_over{
    position: absolute;
    z-index: 3;
    width: 520px;
    height: 517px;
    top: 8px;
    border-top-left-radius: 16px;
    border-top-right-radius: 13px;
    display:none;
  }
  #final_score{
    top: 214px;
    position: absolute;
    z-index: 3;
    background-color: yellow;
    display:none;
    left: 160px;
    font-family: fantasy;
    font-size: 32px;
    border-radius: 4px;
    padding: 5px;
  }